<%- include("partials/header.ejs") %>

<main class="px-3 container">
    <h1 class="m-3 title">MyConcertRadar </h1>
    <p class="lead">Your personalized ticket to live music! Connect your Spotify, select your location, and we'll curate a custom concert list tailored just for you. Elevate your concert-going journey and let the music lead the way!</p>
    <p class="lead">
      <a href=<%=authorization_URL %> class="btn btn-lg btn-spotify fw-bold m-3">Log in to Spotify</a>
    </p>
</main>

<%- include("partials/footer.ejs") %> 